<configuration>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="ch.qos.logback.classic.PatternLayout">
                <pattern>[%highlight(%-4level)] %msg%n%throwable</pattern>
            </layout>
            <immediateFlush>true</immediateFlush>
        </encoder>
    </appender>

    <appender name="CUSTOM_FILE" class="edu.illinois.NIOInspector.plugin.CustomTimeBasedFileAppender">
        <file>.NIOInspector/current-time/rerun-results</file>
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="ch.qos.logback.classic.PatternLayout">
                <pattern>[%-4level] %msg%n%throwable</pattern>
            </layout>
            <immediateFlush>true</immediateFlush>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="CUSTOM_FILE" />
    </root>

</configuration>

